@use '../../assets/styles/variables.scss' as *;

.editor {
  display: flex;
  flex-direction: column;
  width: 72rem;
  height: 30.8rem;
  gap: 12px;

  &__box {
    height: 260px;
    border: 1px solid $gray-300;
    border-radius: 8px;
  }

  :global(.ql-toolbar) {
    border: none;
    border-bottom: 1px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: $gray-200;
  }

  :global(.ql-container) {
    height: 215px;
    border: none;
  }

  &__title {
    margin: 0;
    @include font-24-bold;
    color: $gray-900;
  }
}
