@use '../../assets/styles/variables.scss' as *;

.editor {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  min-width: 320px;
  width: 100%;
  gap: 12px;

  &__box {
    height: 260px;
    border: 1px solid $gray-300;
    border-radius: 8px;
  }

  :global(.ql-toolbar) {
    display: flex;
    align-items: center;
    height: 49px;
    border: none;
    border-bottom: 1px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: $gray-200;
  }

  :global(.ql-container) {
    max-width: 688px;
    min-width: 288px;
    height: 178px;
    margin: 16px;
    border: none;
  }

  &__title {
    margin: 0;
    @include font-24-bold;
    color: $gray-900;
  }

  @media (max-width: 767px) {
    & {
      max-width: 320px;
    }
    :global(.ql-toolbar button),
    :global(.ql-toolbar .ql-picker) {
      width: 24px;
    }

    :global(.ql-toolbar .ql-color-picker),
    :global(.ql-toolbar .ql-icon-picker) {
      width: 24px;
    }
  }
}
