@use '../../assets/styles/variables.scss' as *;

.post-container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; // ✅ 추가
  padding-top: 113px;
}

.with-image {
  background-repeat: no-repeat;
}

.background--beige {
  background-color: $beige-200;
}

.background--blue {
  background-color: $blue-200;
}

.background--green {
  background-color: $green-200;
}

.background--purple {
  background-color: $purple-200;
}

.card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px 24px;
}
