@use '../../assets/styles/variables.scss' as *;

body {
  overflow-x: hidden;
}

.homeWrapper {
  width: 100%;
  height: 100%;
}

.sectionBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.sectionBoxes:first-of-type {
  margin-top: 42px;
}

.sectionBox {
  display: flex;

  width: 100%;
  max-width: 1200px;
  height: 324px;

  margin: 0 auto;
  padding: 60px 0 60px 60px;
  box-sizing: border-box;

  border-radius: 16px;
  background-color: $surface;

  opacity: 0;
  transition:
    transform 1.5s ease,
    opacity 1.5s ease;
}

.rightImage {
  justify-content: space-between;
  margin-bottom: 30px;

  transform: translateY(-30px);
  animation: slideDownFadeIn 1.2s ease forwards;
  animation-delay: 0.3s;
}

.leftImage {
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 48px;

  transform: translateY(30px);
  animation: slideUpFadeIn 1.5s ease forwards;
  animation-delay: 0.6s;
}

.sectionBox.leftImage {
  padding-left: 30px;
}

.sectionImagePaper,
.sectionImageEmoji {
  max-width: 720px;
}

.pointBadge {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 32px;

  margin: 0 0 16px 0;
  padding: 6px 12px;
  box-sizing: border-box;

  @include font-14-bold;
  color: $white;
  background-color: $purple-600;
  border-radius: 50px;
}

.title {
  @include font-24-bold;
  margin-bottom: 8px;
  color: $gray-900;

  > span {
    display: block;
  }
}

.subtext {
  @include font-18-regular;
  color: $gray-500;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sectionBoxes {
    width: 100%;
    margin: 0 auto;
    padding-inline: 24px;
    max-width: 960px;
    box-sizing: border-box;
  }

  .sectionBox {
    width: 100%;
    margin: 0;
    height: auto;
    align-items: center;
    gap: 36px;
    padding: 40px;
  }

  .rightImage,
  .leftImage {
    flex-direction: column;
  }

  .rightImage {
    margin-bottom: 30px;
  }

  .leftImage {
    margin-bottom: 48px;
  }

  .textBox {
    width: 100%;
  }

  .pointBadge {
    margin: 0 0 16px 0;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > span {
      display: inline;
    }
  }

  .subtext {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .sectionBoxes {
    padding-inline: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .sectionBox {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 50px;
  }

  .title {
    @include font-18-bold;
  }

  .subtext {
    @include font-15-regular;
  }

  .rightImage {
    gap: 45px;
    transform: translateY(-20px);
  }

  .leftImage {
    gap: 48px;
    transform: translateY(20px);
  }

  .rightImage,
  .leftImage {
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    overflow: hidden;
  }

  .sectionImageEmoji,
  .sectionImagePaper {
    width: 150%;
    margin-bottom: 24px;
  }

  .textBox {
    width: 100%;
  }

  .pointBadge {
    margin-bottom: 16px;
  }

  .title {
    overflow: visible;
    text-overflow: unset;

    > span {
      display: block;
    }
  }
}

@keyframes slideDownFadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpFadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
