@use '../../../assets/styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1207px;
  margin: 0 auto;
  padding: 0 12px;
}

.underline {
  height: 1px;
  background-color: #ededed;
}

.logo {
  width: 106px;
  margin: 16px 0;
}

.button {
  @include font-16-regular;
  padding: 7px 16px;
  border: 1px solid $gray-300;
  border-radius: 6px;
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 0 24px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}
