@use '../../../assets/styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1207px;
  height: 64px;
  margin: 0 auto;
  padding: 0 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  -ms-user-select: none;
  user-select: none;
}

.underline {
  height: 1px;
  background-color: #ededed;
}

.logo {
  width: 106px;
  margin: 16px 0;
}

.button {
  @include font-16-regular;
  padding: 7px 16px;
  border: 1px solid $gray-300;
  border-radius: 6px;
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  &:hover {
    background-color: $purple-100;
    border: solid 1px $purple-300;
  }
  transition: 0.2s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 0 24px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}
