@use '../../assets/styles/variables.scss' as *;

// .skeleton-group {
//   // position: absolute;
//   // top: 52px;
//   z-index: 1;
//   display: flex;
//   flex-direction: column;
//   gap: 102px;
// }
.skeleton-liked {
  margin-bottom: 102px;
}

.section-listpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 50px auto;
  padding: 0 12px;
}
.section__h2 {
  @include font-24-bold;
  width: 1160px;
  margin-bottom: 16px;
}
.section-group {
  margin-bottom: 64px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section-listpage {
    padding: 0 24px;
  }
  .section-group {
    margin-bottom: 156px;
    background-color: aqua;
  }
  .section__h2 {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .section-listpage {
    padding: 0 20px;
    margin: 40px auto;
  }
  .section-group {
    gap: 34px;
    margin-bottom: 66px;
    background-color: blueviolet;
  }
  .section__h2 {
    width: 100%;
  }
}
