@use '../../assets/styles/variables.scss' as *;

.button {
  padding: 1.4rem 2.4rem;
  border: none;
  border-radius: 12px;
  background-color: $purple-600;
  @include font-18-bold;
  color: $white;

  &:disabled {
    background-color: $gray-300;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
      background-color: $gray-300;
      border: $gray-300;
    }
  }

  &:hover {
    background-color: $purple-700;
  }

  &:active {
    background-color: $purple-800;
  }

  &:focus {
    border: 2px solid $purple-900;
    background-color: $purple-800;
  }

  &--primary {
    display: block;
    width: 28rem;
    height: 5.6rem;
    margin: 0 auto;
  }

  &--create {
    width: 72rem;
    height: 5.6rem;
  }

  &--confirm {
    width: 12rem;
    height: 4rem;
    padding: 0.7rem 1.6rem;
    border-radius: 6px;
    @include font-16-regular;
  }

  &--delete {
    width: 9.2rem;
    height: 3.9rem;
    padding: 0.7rem 1.6rem;
    border-radius: 6px;
    @include font-16-regular;
  }

  @media (min-width: 361px) and (max-width: 768px) {
    &--primary {
      width: 93.75vw;
      margin: 24px;
    }
  }
  @media (min-width: 0px) and (max-width: 768px) {
    &--primary {
      width: 88.9vw;
      margin: 24px 20px;
    }
  }
}
