* {
  box-sizing: border-box;
}

html,
body,
div,
span,
p,
a,
ol,
ul,
li,
header,
footer,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: 'Pretendard', sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: "Pretendard", sans-serif;
}
