* {
  box-sizing: border-box;
}

html,
body,
div,
span,
p,
a,
ol,
ul,
li,
header,
footer,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: 'Pretendard', sans-serif;
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  all: unset;
}

@font-face {
  font-display: swap;
  font-family: '나눔명조';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NanumMyeongjoOTF00.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: '나눔손글씨 손편지체';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NanumSonPyeonJiCe.woff2') format('woff2');
}
